<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505228395891-9a51e7e86bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);">
  <div class="container">
    <h1><i class="fas fa-wine-glass-alt"></i> COCKTAIL MENU <i class="fas fa-cocktail"></i></h1>
      <div class="buttons">
        <div class="button">
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-danger btn" %>
        </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
          <% @cocktails.each do |cocktail| %>
           <div class="col-md-3">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?cocktail)">
                    <li class="list-group-item">
                      <%= link_to cocktail.name, cocktail_path(cocktail) %>
                    </li>
                  </div>
                </div>
          <% end %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
