<div class="container">
    <div class="form-control">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.submit "Create cocktail", class: "btn btn-danger" %>
      <% end %>

      <%= link_to "Take me back", cocktails_path, class: "btn btn-danger btn" %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
